<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Test">
    <test name = "exampletest">
        <classes>
            <class name = "test.chipViewTest" />
            <class name = "test.DownloadAppTest" />
            <class name = "test.scrollTest" />
        </classes>
    </test>
</suite>